# CDK
deploy/

# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log

# Build output
dist
build
coverage

# Environment files
.env

# Dockerfile
Dockerfile
.dockerignore

# Git files
.git
.gitignore

# IDE and editor files
.vscode
.idea
*.swp

# OS-specific files
.DS_Store
Thumbs.db